body {
  margin: 0;
  padding: 0;
}
p {
  font-size: 13px;
}
.brakes {
  font-size: 20px;
}
.space {
  display: inline-block;
  min-width: 135px;
}
.space-0 {
  display: inline-block;
  min-width: 120px;
}
.space-1 {
  display: inline-block;
  min-width: 290px;
}
.mb-0 {
  margin-bottom: 0;
}
table tr {
  width: 100%;
}
.card {
  position: relative;
  height: 362px;
  border: 5px solid #000;
  width: 242px;
}
td,
th {
  vertical-align: text-top;
}
.first-row-last-line {
  margin-top: 80px;
  text-align: center;
}

table tr td {
  /* border: 1px solid #000; */
  /* border-collapse: collapse; */
}
tr td:nth-child(2) {
  padding-left: 8px;
}
/* header section styles  */
.header-top p {
  /* margin: 0; */
  line-height: 8px;
}

/* card section style  */
/* .vertical-text {
    writing-mode: vertical-rl; 
    transform: rotate(180deg);
    font-weight: 600;
} */
.logo-section {
  margin-top: 24px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.bar-picture {
  margin-top: 4px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 8px;
}

.user-info {
  margin: 8px 16px 0 16px;
  margin-top: 8px;
}
.user-info p {
  margin: 0;
}
.bold {
  font-weight: 600;
}
.card {
  margin-top: 28px;
  font-size: 12px;
}
.powerd-by {
  font-weight: 500;
}
.single-barcode-user-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mt-3 {
  margin-top: 15px;
}
.user-profile {
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
}

.vertical-text-left {
  top: 57px;
  left: -27px;
  position: absolute;
  transform: rotate(-90deg); /* rotate text 90 degrees */
  font-weight: 600;
  transform-origin: 50% 50%;
}
.vertical-text-right {
  top: 63px;
  right: 0px;
  position: absolute;
  transform: rotate(-90deg); /* rotate text 90 degrees */
  font-weight: 600;
  transform-origin: 50% 50%;
}
